/*    __            __  ____            */
/*   / /____  _  __/ /_/ __/___  _  __  */
/*  / __/ _ \| |/_/ __/ /_/ __ \| |/_/  */
/* / /_/  __/>  </ /_/ __/ /_/ />  <    */
/* \__/\___/_/|_|\__/_/  \____/_/|_|    */

@import url("browser.css");
@import url("findbar.css");
@import url("icons.css");
@import url("menus.css");
@import url("navbar.css");
@import url("overwrites.css");
@import url("sidebar.css");
@import url("tabs.css");
@import url("urlbar.css");

/* configurations - DO NOT CHANGE ORDER */
@import url("defaults.css");
@import url("config.css");

* {
  font-family: var(--tf-font-family);
  font-size: var(--tf-font-size);
}

body {
  background-color: var(--tf-bg);
}

::placeholder {
  text-transform: lowercase;
}

#identity-icon-box{
  /* deletes the alarm thing at url */
  display: none !important;
}

#nav-bar{
  /* makes the top bar narrower */
  height: 40px !important;

  /* there was i believe a 2px margin on bot unnecessary */
  margin-bottom: 0px !important;
  /* deletes the ::before text */
  &::before{
    content: "" !important;
  }
}

#urlbar-container[breakout]{
  /* makes it so that the url bar can be centered at low heights */
  min-height: unset !important;
}

#back-button,
#forward-button{
  display: flex !important;
}

#sidebar-box{
  /* allows it to be further narrowed */
  min-width: 5em !important;
  max-width: 25vw !important;
  margin-right: 0px !important;
  
  /* default width */
  /* width: 150px !important; */


  /* deletes the ::before text */
  &::before{
    content: "" !important;
  }
}

#urlbar-input::placeholder{
  /* hides the search with google text */
  opacity: 0 !important;
}

#tabbrowser-tabbox{
  margin-left: 0px !important;

  /* deletes the ::before text */
  &::before{
    content: "" !important;
  }
}

#sidebar-splitter{
  width: 8px !important;
  background-color: unset !important;
  border: unset !important;
  border-style: unset !important;

  /* shows the splitter */
  display: unset !important;
}

/*  there is a small empty line at the top of searchbar/ */
#toolbar-menubar{
  display: none !important;
} 